{% extends "base.html" %}

{% block title %}Chat History for {{ username }}{% endblock %}

{% block content %}

<form action="{% url 'hist_for_user' %}" method="get">
    <input type="text" name="username" value="{{ username }}">
    <input type="submit" value="Submit">
</form>

<p>Usernames are not case sensitive.</p>

<p>Does not include messages that were caught by AutoMod.</p>

<p>Does not include messages sent when I was offline or not in channel, especially around the transition from scglive to scgtour.</p>

<h2>Chat history for {{ username }}</h2>

<table>
    {% for log in logs %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="nowrap">
                {{ log.time }}
            </td>
            <td class="nowrap">
                &lt; {{ log.user }} &gt;
            </td>
            <td>
                {{ log.text }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
